doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viewport', content='initial-scale=1.0, width=device-width')
	title Work reminder
	body
		h1 Work reminder
		include sections/main
		//- img(src=require("./images/AppStore.svg") width="100")